body{
    margin: 0;
    padding: 0%;
    font-family: 'Ubuntu', sans-serif;
   
    
}
.font-color{
    color: aqua;
}
.h1-font-size{
    font-size: 50px;
}
.border-h1{
    border-left: 4px solid orange;
}

.head{
    display: flex;
    width: 80%;
    margin: 0 auto;
    /* border: 3px solid black; */
  
}
.first-section-part1{
    width: 50%;

}
.first-section-part1 p{
    width: 70%
}

.first-section-part1 img{
    width: 350px;
    padding-left: 70px;
}
.btn{
    border: none;
    padding: 10px 20px;
    background-color: crimson;
    border-radius: 4px;
    margin-bottom: 20px;
   
}
/* .space{
    margin-top: 8px;
} */

#mission{
    text-align: center;
}
.head-02{
    display: flex;
    justify-content: center;
    
}
.mission-01{
    width: 20%;
    margin: 2%;
    background-color: blanchedalmond;
    padding: 15px;
    border-radius: 20px; 

}

.mission-02{
    width: 20%;
    margin: 2%;
    background-color: rgb(49, 143, 187);
    padding: 15px;
    border-radius: 20px;  
}
.mission-03{
    width: 20%;
    margin: 2%;
    background-color: rgb(182, 40, 139);
    padding: 15px;
    border-radius: 20px;  
}
div img{
    width: 65%;
    
}
.footer{
    background-color: black;
    text-align: center;
    padding: 5px;
    color: white;
}
/* #pad{
    padding-bottom: 100px;
} */